$minfont:#515151;
$containerwidth:1366px;
$bookcoverwidth:230px;
$bookcoverheight:300px;
$bookfontsize:14px;
$fontcolor:#515151;

// classification
$classheight:29px;
$classcolor:#187de2;
$classborder:1px soild #187de2;
$classbackgornd:#eeeeee;
$classshadow:3px 5px 4px 0px rgba(134,152,210,.4);

// chapter-warp
$chapterwarpwidth:1190px;
$chapterwarp-leftwidth:901px;
$chapterwarp-rightwidth:280px;
$chapter-rightheight:580px;

// right
$chapter-rightheadwidth:280px;;
$chapter-rightheadheight:50px;
$chapter-rightheadbackground:#187de2;